body{
    background-color:cornflowerblue;
}

#topbar img{
    width: 80px;
    height: 80px;
    float: left;
    padding: 0 10px;
}

#topbar h1{
    
    color: royalblue;
}

#topbar h2{
    color: skyblue;
}